
@import "./qpf/css-vendor.less";

body{
	margin:0px;
	background-image: url(imgs/black-Linen.png);
	overflow: hidden;
}
.qpf-ui-application>div>.qpf-container-item{
	width:100%;
	height:100%;
}

#Gallery{

	.qpf-ui-panel{
		border-radius: 0px;

		.qpf-panel-header{
			border-radius: 0px;
		}
	}

	.qpf-icon{
		width:15px;
		height:15px;
		background-size: 15px 15px;
		background-repeat: no-repeat;

		&.add{
			background-image:url(imgs/add.svg);
		}
	}

	.qpf-ui-icon-button{
		width:30px;
		height:30px;
		padding:0px;

		.qpf-icon{
			background-size: 18px 18px;
			width:30px;
			height:30px;
			background-position: 50% 50%;
		}
	}
}

#Navigator.qpf-ui-panel{

	background:none;
	position: relative;
	z-index : 10;

	.qpf-panel-header{
		display: none;
	}
	.qpf-panel-body{
		padding: 0px;
		padding-top: 40px;
		overflow: visible;
	}

	.qpf-ui-navlink{
		padding: 4px 0px;
		cursor: pointer;

		.icon{
			width: 20px;
			background-size: 20px 20px;
			height: 20px;
			margin: 5px 23px;

			&.local{
				background-image: url(imgs/local.svg);
			}
			&.cloud{
				background-image: url(imgs/cloud.svg);
			}
			&.camera{
				background-image: url(imgs/camera.svg);
			}


		}
		.title{
			text-align: center;
			color:white;
			line-height: 25px;
		}

		&:hover{
			box-shadow: inset 0px 0px 5px black;
		}
		&.active{
			background-color: #315E99;
		}
	}
}

#Viewport{
	background-color: #949494;
	box-shadow: 0px 0px 20px black;

	.qpf-ui-toggle{
		position: absolute;
		bottom:60px;

		width: 80px;
		height: 28px;
		cursor: pointer;
		background: #333;
		margin: 20px auto;

		border-radius: 50px;
		position: relative;

		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	}
	.qpf-ui-toggle input{
		display: none;
	}
	// code from codepen
	// http://codepen.io/bbodine1/pen/novBm
	.qpf-ui-toggle:after {
		content: '';
		position: absolute;
		top: 14px;
		left: 14px;
		height: 2px;
		width: 52px;

		border-radius: 50px;
		background: #111;

		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	}

	.qpf-ui-toggle label {
		display: block;
		width: 22px;
		height: 22px;

		border-radius: 50px;

		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		-ms-transition: all .4s ease;
		transition: all .4s ease;
		position: absolute;
		top: 4px;
		z-index: 1;
		left: 4px;

		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		background: #fcfff4;

		background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	}

	.qpf-ui-toggle label:after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;

		border-radius: 50px;
		background: #333;
		left: 6px;
		top: 6px;

		box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	}

	.qpf-ui-toggle input[type=checkbox]:checked + label {
		left: 54px;
	}

	.qpf-ui-toggle input[type=checkbox]:checked + label:after {
		background: #00bf00;
	}

}

#ImageList{
	position: relative;
	.wrapper{
		position: absolute;
		left:40px;
		right:40px;
		top:0px;
		bottom:0px;
		overflow:hidden;
	}
	.image-list{
		position: absolute;
		left:0px;
		top:0px;

		.qpf-container-item{
			float:left;
		}
		.qpf-ui-image-item{
			.qpf-image{
				height:80px;
				overflow: hidden;
				background-color:rgba(0, 0, 0, 0.7);
				padding:5px;
				border-radius: 3px;
				margin:5px;
				cursor: pointer;

				&:hover{
					height:100px;
				}
			}
			img{
				height:80px;
			}
		}
	}

	.qpf-ui-icon-button{
		position: absolute;
		top:50%;
		margin-top: -15px;
		border-radius: 15px;

		&.button-left{
			left:0px;
		}
		&.button-right{
			right:0px;
		}
	}
	.qpf-icon{
		&.left{
			background-image: url(imgs/arrow-left.svg);
			&:hover{
				background-image: url(imgs/arrow-left-hover.svg);
			}
			&:active{
				background-image: url(imgs/arrow-left-active.svg);
			}
		}
		&.right{
			background-image: url(imgs/arrow-right.svg);
			&:hover{
				background-image: url(imgs/arrow-right-hover.svg);
			}
			&:active{
				background-image: url(imgs/arrow-right-active.svg);
			}
		}
	}
}

#Layers{

	.qpf-panel-body{
		padding:0px;
	}
	.qpf-ui-layer{
		margin:10px;
		border-radius: 3px;
		box-shadow: 0px 0px 2px black;

		.qpf-layer-header{
			height:25px;
			.linear-gradient-top(#3f3f3f, rgba(255,255,255,0.1), 0%, rgba(255,255,255,0.0), 99%);
			
			border-bottom: 1px solid black;
			border-top: 1px solid #646464;

			border-radius: 3px 3px 0px 0px;

			.qpf-layer-title{
				line-height: 25px;
				color:#B8B8B8;
				padding-left: 10px;
			}
		}
		.qpf-layer-parameters{

			padding:10px;
			background-color: #2B2929;

			border-radius: 0px 0px 3px 3px;

			&>ul{
				margin:0px;
				padding: 0px;
				&>li{
					list-style: none;
					&>label{
						color:#6D6D6D;
						margin:5px;
						font-size: 12px;
						display: block;
					}
				}
			}
		}
	}	
}

#Histogram.qpf-ui-panel{

	border-radius: 3px;
	background-color: #2B2929;
	.qpf-panel-header{
		border-radius: 3px 3px 0px 0px;
	}
	.qpf-panel-body{
		border-radius: 0px 0px 3px 3px;
		padding:0px;
	}
	.qpf-ui-histogram{
		background-color: #7C7C7C;
		box-shadow: inset 0px 0px 5px #000;
	}
}

#Filters{
	.qpf-panel-body{
		padding: 0px;
		overflow-y : scroll;
	}
	.qpf-ui-filter{
		border-bottom: 1px solid #272727;
		border-top: 1px solid #585353;
		overflow: hidden;
		
		.qpf-filter-header{
			height:40px;
			position: relative;
			.linear-gradient-top(#3f3f3f, rgba(255,255,255,0.05), 0%, rgba(255,255,255,0.0), 99%);
			cursor: pointer;
		}
		.qpf-filter-icon{
			float:left;
			width:40px;
			height:40px;

			img{
				width:30px;
				height:30px;
				background-image: url(imgs/picture.svg);
				background-size: 30px 30px;
				margin:5px;
			}
		}
		.qpf-filter-title{
			float: left;
			h5{
				color:#BEBEBE;
				margin:0px;
				line-height: 40px;
			}
		}
		.qpf-filter-op{
			position: absolute;
			right:10px;
			top:13px;
			cursor: pointer;
		}
		.qpf-filter-description{
			p{
				color:#8A8989;
				padding: 10px;
				margin:0px;
			}
		}
	}
	.qpf-fitlers-search{
		display: block;
		background-color: #B1B1B1;
		margin:3px;

		input{
			color: black;
			float:none;
			line-height: 18px;
		}
	}
}
