<application>
	<vbox height="100%">
		<hbox>
			<region prefer="70" name="navigator" controller="@binding[navigator]"></region>
			<vbox flex="1">
				<region flex="1" name="viewport" controller="@binding[viewport]" style="margin:20px;"></region>
				<region prefer="100" controller="@binding[imageList]"></region>
			</vbox>
			<vbox prefer="250">
				<region prefer="150" controller="@binding[histogram]" style="margin:10px;"></region>
				<region name="layers" controller="@binding[layers]"></region>
			</vbox>
			<region prefer="200" name="filters" controller="@binding[filters]"></region>
		</hbox>
	</vbox>
</application>